//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
  padding: 15px 12px 5px;

  text-align: center;

  background-color: #161619;

  .social-wrapper {
    display: flex;
    justify-content: space-evenly;
  }
  
  a {
    color: #918e9b;

    &:hover {
      color: #918e9b;
    }
  }

  small {
    color: #918e9b;
    font-size: 10px;
    
    a {
      text-decoration: underline;
    }
  }
}