//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

html, 
body,
#root {
  height: 100%;
}

.App {
  position: relative;
  
  display: flex;
  padding: 15px 0;
  min-height: 100%;
}

/**
 * Basic styles for links
 */
a {
  color: $brand-color;
  text-decoration: none;
  
  @include on-event {
    color: $text-color;
    text-decoration: underline;
  }
}

.btn,
a {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}

/**
 * Basic styles for input fields
 */
input[type="email"],
input[type="password"],
input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-focus-ring-color: none;  outline: none;
}

.App {
  background-color: #23252c;
}

.card-wrapper {
  max-width: 300px;
  margin: auto;

  background-color: #1a1b21;
}