//main: ../main.scss

/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
}

h1, h2, h3, h4, h5, p {
  color: #fff;
}

h1 {
  margin-bottom: 4px;

  font-size: 25px;
  font-weight: bold;

  @include respond-to("lg-down") {
    font-size: 20px;
  }
}

h3 {
  margin-bottom: 0;

  color: #f3bf99;
  font-size: 15px;
  line-height: 1;
}